.heading {
	text-decoration: underline;
	font-family: arial, helvetical, sans-serif;
	font-size: x-large;
	font-weight: bold;
	text-transform: uppercase;
}
.general {
	font-style: italic;
	text-align: justify;
}
.places {
	text-decoration: underline;
	font-family: cursive;
	font-size: medium;
    text-transform: capitalize;
}
ul li {
	font-size: small;
	font-family: Verdana;
	list-style: square;
}