            #main {
                background-color: white;
                width: 30%;
                height: 40%;
                top: 5%;
                left: 20%;
                border: 1px solid #a084b9;
                border-top: 8px solid #a084b9;
                position: absolute;
                padding: 100px
            }
            
            .top {
                background-color: #450085;
                width: 100%;
                height: 20%;
                float: left;
            }
            
            body {
                width: 100%;
                background-color: whitesmoke;
                height: 1000px;
                position: relative;
            }
            
            h1,
            p,
            sub {
                text-align: left;
                margin-left: 25px;
                margin-top: 5px;
            }
            
            div {
                margin-left: 25px;
                padding: 5px;
            }
            
            button {
                height: 35px;
                font-family: 'Roboto', sans-serif;
                font-size: 11px;
                text-decoration-color: white;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                font-weight: 500;
                color: #000;
                background-color: rgb(86, 158, 240);
                border: none;
                border-radius: 5px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin-top: 15px;
            }
            
            .inputemail {
                border: 0;
                width: 50%;
                border-bottom: 2px solid;
            }
            
            .inputfeedback {
                width: 90%;
                border: 0;
                border-bottom: 2px solid;
                border-bottom-color: blueviolet;
                margin-right: 25px;
            }