* {
    box-sizing: border-box;
    font-size: 18px;
}

.container {
    width: 40%;
    margin: auto;
    background-color: rgb(121, 121, 243);
    padding: 20px;
    margin-top: 40px;
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.form-group label,
.form-group p {
    flex: 30%;
    text-align: right;
    margin-right: 10px;
}

.form-group input,
.form-group span {
    flex: 70%;
}

.btn {
    flex: 70%;
    justify-content: space-evenly;
    margin-top: 15px;
}

.btn button {
    border: none;
    padding: 9px;
    min-width: 150px;
    cursor: pointer;
    background-color: rgb(248, 220, 179);
    margin-right: 10px;
}

.btn button:hover {
    background-color: rgb(248, 206, 141);
}