.section {
	text-align: justify;
	margin-left: 10px;
}
.sub_section {
	text-indent: 5%;
	text-align: justify;
}
h1{
	text-decoration: underline;
}
h2,h3 {
	margin-left: 10px;
	word-spacing: 2px;
	text-decoration: underline;
	text-transform: uppercase;
}
p{
	margin-left: 50px;
	style="text-indent: 100px;
}
*{
	font-size: 20px;
 }