body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: block;
    width: 100%;
}

.justify-content {
    width: 60%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: block;
}

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    background-color: rgba(34, 153, 153, 0.521);
}

.logo {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.logo img {
    /* display: flex; */
    max-height: 70px;
    padding: 20px;
    /* padding-left: 45px;
    padding-right: 40px; */
}

.logo h1 {
    padding-top: 15px;
    /* padding-left: 35px;
    padding-right: 25px; */
}

.logo h2 {
    /* padding-right: 15px;
    padding-left: 20px; */
    color: white
}

.menubar {
    background-color: rgb(56, 56, 243);
    /* display: flex; */
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    justify-content: space-evenly;
}

.menubar .justify-content ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.menubar .justify-content ul li {
    color: white;
    padding: 10px
}

.menubar .justify-content ul input {
    margin-top: 6px;
    margin-left: 15px;
    padding: 5px;
    height: 12px;
    background-color: whitesmoke;
    width: 270px;
    padding-left: 20px;
}

.menubar ul svg {
    margin-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
}

.border-right {
    border-right: solid 1px white;
}

.main {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.p70 {
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.justify-content-p70 {
    margin-top: 10px;
}

.p70 .justify-content-p70 .panel1 {
    display: flex;
    flex-flow: row swap;
}

.p70 .justify-content-p70 .panel1 img {
    display: block;
    max-width: 560px;
    width: auto;
    height: auto;
}

.panel2 .p60 img {
    display: block;
    max-width: 350px;
    width: auto;
    height: auto;
}

.p30 {
    width: 30%;
    display: flex;
    float: right;
    flex-flow: column wrap;
    justify-content: space-around;
}

.panel2 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.panel2 .p60 {
    flex: 2;
    display: block;
    /* flex-basis: 60%; */
}

.panel2 .p40 {
    flex: 1;
    margin-right: 5px;
    /* flex-basis: 30%; */
}

.p40 h3 {
    color: rgb(38, 160, 160);
    text-align: justify;
}

.panel3 {
    width: 100%;
    border: 1px solid #666e66;
    margin-top: 10px;
}

.panel3 h3 {
    text-align: center;
    color: red;
    padding-top: 5px;
    padding-bottom: 10px;
}

.panel3 ol {
    text-transform: uppercase;
    font-size: 13px;
}

.panel3 ol li {
    padding-bottom: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.panel4 {
    width: 100%;
    border: 1px solid #666e662a;
    margin-top: 10px;
}

.panel4 h4 {
    color: red;
    padding-left: 10px;
}