            div {
                padding: 10px;
            }
            
            #main {
                width: 600px;
                background-color: #3e580c;
                margin: 0 auto;
            }
            
            #main h2 {
                text-align: center;
            }
            
            .form-group {
                width: 100%;
                display: flex;
                margin-bottom: 10px;
                margin-right: 5px;
                text-align: right;
                padding-right: 20px;
            }
            
            .form-group input,
            .form-group select {
                width: 75%;
                margin: 0px;
                margin-right: 35px;
            }
            
            .form-group button {
                margin-right: 35px;
                width: : 75%;
                padding: 5px;
            }
            
            .form-group label {
                width: 25%;
                margin-right: 10px;
            }