        * {
            box-sizing: border-box;
            font-size: 20px
        }
        
        h2 {
            padding: 20px;
        }
        
        img {
            margin: 12px;
        }
        
        h3 {
            margin-left: 30px;
        }
        
        .header {
            color: #0000cc;
            font-family: arial;
            font-size: 20px;
            font-weight: bold;
        }
        
        .header1 {
            color: #0000cc;
            font-family: arial;
            font-size: 20px;
            font-weight: bold;
            display: flex;
        }
        
        .container {
            width: 40%;
            margin: 0px auto;
            background-color: #ffffcc;
        }
        
        .logo {
            width: 50px;
            margin: 10px 30px 30px 40px;
        }
        
        .logo1 {
            width: 140px;
            margin: 10px 30px 30px 40px;
        }
        
        .form-group {
            width: 100%;
            display: flex;
        }
        
        .col1 {
            flex: 1;
        }
        
        .col2 {
            flex: 3;
        }
        
        .col2 label {
            flex: 20%;
            padding: 8px;
        }
        
        .col2 input {
            flex: 70%;
            margin-right: 10px;
            padding: 8px;
        }
        
        .col2 .row {
            margin-bottom: 15px;
        }
        
        .btn {
            margin-left: 120px;
        }
        
        .row {
            display: flex
        }
        
        button {
            cursor: pointer;
            border: none;
            background-color: #cccccc;
            padding: 8px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        
        button:hover {
            background-color: rgb(211, 90, 90);
        }
        
        .row1 {
            display: flex;
            padding: 10px
        }
        
        .row1 label {
            flex: 20%;
            text-align: right;
            padding-right: 10px;
        }
        
        .row1 button,
        .row1 input,
        .row1 select {
            flex: 70%;
        }
        
        .row1_1 {
            flex: 70%;
            justify-content: center;
        }