body
{
	background-color: rgb(255,255,240);
}
.main
{
	width: 400px;
	background-color: #DDFFEE;
	margin-left: 700px;
	margin-top: 20px;
}
.main h2
{
	margin-left: 20px;
}
.FlexBlock
{
	display: flex;
}
.Help
{
	background-color: #ddffee;
	color: #1e23b8;
	width: 50px;
	height: 37px;
	margin-left: 10px;
	cursor: help;
	margin-top: 20px;
}
.Help h2
{
	margin-top: 5px;
	margin-bottom: 5px;
}
textarea
{
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-shadow-color: silver;
	scrollbar-arrow-color: black;
	scrollbar-face-color: gray;
	background-color: #ffffdd;
	border: solid 2px #a6a9a9;
	width: 240px;
}
.Text
{
	width: 90px;
	text-align: right;
	margin-right: 5px;
	line-height: 25px;
}
.Input
{
	width: 300px;
	line-height: 25px;
}
input
{
	width: 80%;
	outline: none;
	background-color: #ffffdd;
	border-color: #a6a9a9;
}
.button
{
	margin-left: 150px;
	margin-bottom: 10px;
}
a
{
	text-decoration: none;
}
button:hover
{
	cursor: pointer;
}
.HelpBlock
{
	background-color: #ccffcc;
	width: 800px;
	margin-left: 500px;
	display: none;
	padding: 10px;
}
li
{
	list-style-type: square;
	position: inside;
}
.Close
{
	color: #202af7;
	margin-left: 700px;
}
.HelpBlock h2
{
	margin-left: 20px;
}
ul
{
	padding-left: 80px;
	padding-right: 30px;
}
.Close:hover
{
	cursor: pointer;
}