body {
    background-color: rgb(255, 255, 240);
}

.imgHelp {
    cursor: help;
    background-color: #DDFFEE;
    padding: 5px;
    font-weight: bold;
    position: absolute;
    right: 30%;
}

.EmailEditor {
    background-color: #FFFFDD;
}

#main {
    width: 600px;
    background-color: #DDFFEE;
    margin: 0px auto;
    padding: 10px;
}

#main h2 {
    text-align: center;
}

.form-group {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.form-group label {
    width: 20%;
    text-align: right;
    padding-right: 20px;
}

.form-group input,
.form-group textarea {
    width: 75%;
}

.form-group button {
    margin: 0px;
    margin-right: 10px;
}

#help {
    width: 400px;
    height: 300px;
    margin: 0px auto;
    background-color: #DDFFEE;
    padding: 10px;
    display: none;
}

.imgHelp:active~#main {
    display: none;
}

.imgHelp:active~#help {
    display: block;
}