body {
    background-color: rgb(255, 255, 240);
}

.imgHelp {
    cursor: help;
    background-color: #DDFFEE;
    padding: 5px;
    font-weight: bold;
    position: absolute;
    right: 20%
}

.EmailEditor {
    background-color: #FFFFDD;
}

#main {
    width: 600px;
    background-color: #DDFFEE;
    margin: 0px auto;
    padding: 15px;
}

#help {
    width: 400px;
    height: 300px;
    margin: 0px auto;
    background-color: #cfc;
    padding: 10px;
    display: none;
}

#main h2 {
    text-align: center;
}

.group-form {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
}

.group-form label {
    text-align: right;
    margin-right: 10px;
    width: 20%;
}

.group-form input {
    width: 80%
}

.group-form textarea {
    width: 80%;
}

.group-form button {
    margin: 0px;
}

.imgHelp:active~#main {
    display: none;
}

.imgHelp:active~#help {
    display: block;
}