                        * {
                            box-sizing: border-box;
                            font-family: sans-serif;
                        }
                        
                        .container {
                            margin: 0px 30%;
                        }
                        
                        .box__header {
                            background-color: rgb(245, 139, 204);
                            border: 1px solid rgb(247, 41, 212);
                            padding-left: 20px;
                            margin-bottom: 20px;
                            position: sticky;
                            top: 0px;
                        }
                        
                        .box__body {
                            border: 2px solid rgb(94, 46, 85);
                            margin-bottom: 10px;
                        }
                        
                        .box__body__content {
                            background-color: rgb(245, 139, 204);
                            margin: 10px;
                        }
                        
                        .row {
                            width: 100%;
                            display: flex;
                            padding: 5px;
                        }
                        
                        .row__label {
                            width: 30%;
                            padding-left: 30px;
                        }
                        
                        .row-input {
                            width: 70%;
                            padding-top: 10px;
                            padding-bottom: 5px;
                        }
                        
                        .row input,
                        select {
                            width: 60%;
                        }
                        
                        .btn {
                            margin: 0px;
                            padding: 0px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            width: 100%;
                        }
                        
                        .btn button {
                            color: white;
                            background-color: rgba(2, 66, 66, 0.651);
                            cursor: pointer;
                            margin-bottom: 10px;
                            margin-top: 10px;
                            padding: 10px;
                            min-width: 100px;
                        }
                        
                        .btn button:hover {
                            color: white;
                            background-color: rgba(230, 177, 34, 0.651);
                        }
                        
                        .box__body .box__body__content .box__header__outline {
                            position: relative;
                            top: -20px;
                            background-color: white;
                            padding: 0 5px;
                            color: #426ab7;
                            width: 209px;
                        }