            .container {
                width: 80%;
                margin: 0px auto;
            }
            
            * {
                box-sizing: border-box;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
            .content {
                width: 100%;
                border: solid 1px rgba(189, 186, 186, 0.611);
                margin-bottom: 15px;
            }
            
            .content__header {
                background-color: #28a745;
            }
            
            .content__header p {
                color: white;
                margin-top: 0px;
                padding: 10px 0px 10px 20px;
                font-size: 20px;
            }
            
            .content__body {
                margin: 20px;
            }
            
            .content__body__text {
                display: block;
                margin-bottom: 6px;
                font-weight: 550;
            }
            
            .content__body__space {
                width: 100%;
                font-size: 18px;
                margin-bottom: 10px;
                border: #b3bdb5 ridge 1px;
                padding: 4px;
            }
            
            .btn {
                margin-top: 15px;
            }
            
            .btn__save,
            .btn__reset,
            .btn__delete {
                padding: 15px;
                border: none;
                min-width: 100px;
                color: white;
                cursor: pointer;
                background-color: #28a745;
                border-radius: 5px;
            }
            
            .btn__save:hover {
                background-color: #4cd06a;
            }
            
            .btn__reset:hover {
                background-color: #edc740;
            }
            
            .btn__reset {
                background-color: #bc9610;
                margin-left: 10px;
            }
            
            .table {
                width: 100%;
            }
            
            .table th {
                height: 35px;
                color: rgb(78, 74, 74);
            }
            
            .btn__delete {
                background-color: #e02d27;
                margin-left: 10px;
            }
            
            .btn__delete:hover {
                background-color: #eb9693;
            }