/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

body>div {
    margin: auto;
}

body {
    padding-top: 20px;
}

.toast {
    min-width: 400px;
    max-width: 500px;
    display: flex;
    border-radius: 2px;
    padding: 15px 0px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    border-left: 4px solid;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon,
.toast__close {
    padding: 0px 16px;
    margin: auto;
}

.toast__icon {
    font-size: 24px;
}

.toast__body {
    font-size: 16px;
    font-weight: 600px;
    color: #333;
    flex-grow: 1;
}

.toast__title {}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.6;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast__closer:hover {
    opacity: 0.7;
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--waring {
    border-color: #ffc021;
}

.toast--waring .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d
}

.toast--error .toast__icon {
    color: #ff623d
}